/* Centre logo on page */
#main_logo{
    display: block;
    margin:auto;
    max-height: 300px;
}

li{
    font-size: 1.5em;
    font-weight: 700;
    color:#505050;
}

/* Page text styling */
.about_title{
    margin-top: 100px;
}

.paragraph_text{
    /* Centre text */
    text-align: center;
    margin: auto;

    margin-top: 30px;
    /* Resize text */
    width: 60%;
    min-width: 480px;
}

/* Make links orange and extrabold */
.main a{
    color: #ff9c00;
    font-weight: 800;
}
/* Make links dark orange on hover */
a:hover{
    color: #da6200;
}

h2 {
    font-weight: 700; /*Bold text*/
    color:#505050;
    text-align: center;
    font-size: 1.6em;
}

/* Make emphasised text orange */
h2 em{
    color:#ff9c00
}


/*Styling for elements inside orange box*/

.orange_box{
    margin-top: 100px;
}

.orange_box h2{
    color: #505050;
}

.orange_box li{
    color: #505050;
}

.orange_box em{
    color:#f0f0f0;
}

.orange_box a{
    color: #505050;
}

.orange_box a:hover{
    color: #f0f0f0;
}

.orange_box ul li::before {
    color: #f0f0f0; /* Change the color */
  }

  #orange_box_header{
    margin-top: 100px;
  }

/* Styling for buttons */

.action_buttons{
    margin-top: 30px;
}

#login_button{
    color: #f0f0f0;
    margin-bottom: 100px;
}



