
.profile-img {
    padding-left: 5px;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

#canvas-space {
    margin-left: 3%;
    margin-right: 3%;
}

#poll-question {
    font-size: 55px;
}

#comment-space {
    margin-left: 3%;
}

#add-comment {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: solid 2px #505050;
    font-size: 18px;
}

#add-comment:focus {
    border-radius: 10px;
    border: solid 4px #505050;
}

@media only screen and (max-width: 700px) {
    .profile-img {
        width: 60px;
        height: 60px;
    }

    #add-comment {
        font-size: 14px;
    }
}

.loading-image {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.vote-button {
    font-family: "Arial";
    border: none;
    padding: 3px 3px 3px 3px;
    text-align: center;
    font-size: 14px;
}

.upvote-selected {
    background-color: #FF9C00;
    color: #505050;
    
}

.downvote-selected {
    background-color: #505050;
    color: #FF9C00;
}

#poll-chart {
    width: 300px;
    height: 100px;
    align: center;
}

.replies {
    margin-left: 3vw;
}

.form-control {
    width: 50vw;
}

#comments {
    margin-top: 15px;
}