
.profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.loading-image {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.vote-button {
    font-family: "Arial";
    border: none;
    font-size: 14px;
}

.upvote-selected {
    background-color: #FF9C00;
    color: #505050;
    
}

.downvote-selected {
    background-color: #505050;
    color: #FF9C00;
}

#poll-chart {
    width: 300px;
    height: 100px;
    align: center;
}

.replies {
    margin-left: 3vw;
}

.form-control {
    width: 50vw;
}

#comments {
    margin-top: 15px;
}


