
.profile-img {
    padding-left: 5px;
    width: 40px;
    height: 40px;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.comment {
    margin-bottom: 30px;
    background: #f0f0f0;
    padding: 5px;
}

.replies {
    border-left: 3px solid #505050;
}

#canvas-space {
    margin-left: 3%;
    margin-right: 3%;
}

#poll-question {
    font-size: 55px;
}

#author_text {
    font-size: 1.5em;
    margin-top: -30px;
}

#comment-form {
    margin-left: 3%;
}

#add-comment {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    border: solid 2px #505050;
    font-size: 18px;
}

#add-comment:focus {
    border-radius: 10px;
    border: solid 4px #505050;
}

#comments {
    margin: auto;
    margin-top: 15px;
    width: 35%;
    min-width: 600px;
    padding: 10px;
}

@media only screen and (max-width: 700px) {
    #add-comment {
        font-size: 14px;
    }

    #comments {
        width: 300px;
        min-width: 300px;
    }
}

.loading-image {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.vote-button {
    font-family: "Arial";
    border: none;
    padding: 3px 3px 3px 3px;
    text-align: center;
    font-size: 14px;
}

.upvote-selected {
    background-color: #FF9C00;
    color: #505050;
    
}

.downvote-selected {
    background-color: #505050;
    color: #FF9C00;
}

#poll-chart {
    width: 300px;
    height: 100px;
    align: center;
}


.form-control {
    width: 80%;
    min-width: 280px;
}

a:hover {
    color: #ff9c00;
}

h3 {
    display: inline-block;
    color: #505050;
}

h3 a:hover {
    color: #ffc073;
}

#comment_title {
    /* Centre content */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    }

.col-sm {
    float: right;
    margin-right: 10px;
    display: inline-block;
    margin-top: -30px;
}

.btn {
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    padding: 7px 25px;
    font-weight: 800;
    font-size: 0.9em;
    border: none;
    outline: none;
    border-radius: 10pt;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2); /* Drop shadow */
    transition: all .1s ease-in-out; /* Animation properties for when hovered on */
}

.btn:hover{
    transform: scale(1.1); /* Reduce search bar size */
    box-shadow: 0 0 10px rgba(0,0,0, 0.5); /* Increase blackness of shadow */
}

p {
    margin-left: 10px;
}
