/*
This is the stylesheet for homepage-specific elements
Author: Adam Fairlie (2461352F)
*/

  /* Ensure about section keeps on its own line */
.about_section{
    display: block;
}

/* Make about text white and increase button size */
#about_button{
    margin: 0;
    color:#f0f0f0;
    padding: 10px 35px;
}

#top_text{
    padding-bottom: 6.5%;
}

.about_section{
    margin-bottom: 150px;
}