
/*Positioning, text and background of login form background*/
#login_box {
    display: block;
    margin: 0 auto;
    padding: 20px 10px;
    margin-top: 30px;
    width: 50%;
    min-width: 800px;
    height: 350px;
    background: linear-gradient(150deg, #ff9c00,#da6200);
    border-radius: 50px;
}

/*Form text box styling*/
#login_form input {
    color: #505050;
    margin: auto;
    display: block;
    font-size: 1.2em;
    background-color: #f0f0f0;
    border: none;
  }

  /*Give fields a grey outline when focused*/
  #login_form input:focus {
    outline: 3px solid #505050;
  }

  /* Header resizing */

  h2 {
      text-align: center;
      margin-top: 50px;
      color: #505050;
      margin-bottom: 10px;
  }

  h3{
      font-weight: 800;
      color: #f0f0f0;
      text-align: center;
      font-size: 1.5em;
  }

  /*Give login button white text*/
  #login_button{
      color: #f0f0f0;
  }