.champion_poll_box{
    margin: auto; /* Centre box within its column */
    background-color: #f0f0f0;
    width:35%;
    text-align: center;
    border: 3px solid #505050;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4); /* Drop shadow */;
    margin-bottom: 100px;
    min-width: 400px;
}

/* Styling for poll title header */
.champion_poll_box h1{
    text-align: center;
    width: 95%
    display: inline-block;
    margin-left: 15px;
    font-weight: 800;
    font-size: 2em;
    color:#505050;

    /*Generate ellipses when text flows outside of poll box*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.champion_poll_box .box_votes{
    color: #ff9c00;
    font-weight: 800;
}

.champion_poll_box a{
    text-decoration: none; /* Remove underline from links */
}

/* Make titles orange on hover */
.champion_poll_box h1 a:hover{
    color:#ffc073
}

/*Styling for poll author text*/
.champion_poll_box p{
    color: #919191;
    margin-left: 15px;
    margin-top: -18px; /*Move up closer to title*/
    font-weight: 700;
}

/* Darken and underline link to author on hover */
.champion_poll_box p a:hover{
    text-decoration: underline;
    color:#797979
}

#trophy{
    display: block;
    margin: 0 auto;
    text-align: center;
}

#top_text a:hover {
    color: #da6200;
}