/*Styling for search bar results for using the search box on the navbar or the search page*/

/*Positioning of search results list*/
#search-results {
    position: relative;
    width: 500px;
    display: inner-block;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*Remove list typing*/
ul {
    list-style-type: none;
}

.search-item {
    list-style-type: none;
    font-size: 16px;
}

/*Highlight search item on hover*/
.search-item.hover {
    background-color: grey;
}