.vote-div h1 {
    font-size: 90px;
}

.voting-form button{
    border: none;
    font-size: 60px;
    padding: 20px;
    text-align: center;
}

.voting-form {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

#answer1 {
    float: left;
}

.vote-div h2 {
    text-align: center;
    font-size: 60px;
}

#answer1:hover {
    background-color: #505050 !important;
    color: #FF9C00 !important;
}

#answer2 {
    float: right;
}

#answer2:hover {
    background-color: #FF9C00 !important;
    color: #505050 !important;
}

@media only screen and (max-width: 700px) {
    .vote-div h1 {
        font-size: 30px;
    }

    .vote-div h2 {
        font-size: 20px;
    }

    .voting-form button {
        font-size: 30px;
    }

    .voting-form {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 700px) {
    .vote-div h1 {
        font-size: 60px;
    }

    .voting-form {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
}