#question {
    color: #FF9C00;
    font-size: 4em;
    font-weight: 800;
}


.voting-form button{
    padding: 10px;
    font-size: 2em;
}

.voting-form {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.vote-div h2 {
    text-align: center;
    font-size: 1.5em;
    color: #505050;
    margin-top: -40px
}

h3 {
    font-size: 2.5em;
}

h3.answer1 {
    color: #505050;
}

h3.answer2 {
    color: #ff9c00;
}

#left_option, #right_option{
    display: inline-block;
    text-align: center;
    width:45%;
    min-width: 300px;
    overflow:hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

#left_option{
    float: left;
    background: linear-gradient(180deg, #ff9c00,#f08400);
}

#right_option {
    float: right;
    background: linear-gradient(180deg, #505050,#414141);
}

.vertical_divider{
    display: inline-block;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width:5px;
    height: 300px;
    background-color: #ff9c00;
    border-radius: 40px;
}

@media only screen and (max-width: 735px) {
    #left_option, #right_option{
      float: none;
      display: block;
      margin:auto;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .vertical_divider {
        display: none;
    }

  }