{% extends 'poll_app/base.html'%}
{% load staticfiles %}

{% block head_block %}
       <title>Pollarize - Account</title>
       <script type="text/javascript" src="{% static 'js/account.js' %}"></script> 
       <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="container">
       <div class="grid-item" id="item1">
              <img src="{{ profile.profile_image.url }}" id="profile_img" class="profile"></img>
              <div class="overlay">
                     <div id="center-image">
                            <a href="{% url 'poll_app:register' %}" id="change-image-link">
                                   Change Profile Image
                            </a>
                     </div>
              </div>
       </div>
       <div class="grid-item" id="item2">
              <h1>Stats</h1>
              <ul>
                     <li>Username: {{ user.username }}</li>
                     {% if user.email %}
                     <li>Email: {{ user.email }}</li>
                     {% endif %}
                     <li>Polls Submitted: {{ polls }}</li>
                     <li>You have voted in {{ votes_in }} polls</li>
                     <li>Comments: {{ comments }}</li>
              </ul>
       </div>
</div>
{% endif %}
{% endblock %}