{% extends 'poll_app/base.html'%}
{% load staticfiles %}

{% block head_block %}
       <title>Pollarize - Create poll</title>
       <link rel="stylesheet" href="{% static 'css/create_poll.css' %}" />
{% endblock %}

{% block body_block %}
<div class="poll-form">
       <div class="container">
              <div class="row">
                     <div class="col-lg-7 offset-lg-1">
                            <form id="poll_form" method="post" action="{% url 'poll_app:create' %}">
                                   {% csrf_token %}
       
                                   {% if error == True %}
                                   <div class="alert alert-warning">
                                          <strong>Warning!</strong> A poll must have a question and two answers.
                                   </div>
                                   {% endif %}
       
                                   {% for hidden in form.hidden_fields %} 
                                          {{ hidden }} 
                                   {% endfor %} 
       
                                   {% for field in form.visible_fields %} 
       
                                          {{ field.errors }}  
           
                                          <div class="form-group">
       
                                                 <label class="orange">{{ field.help_text }}</label>
                                                 <div class="input">{{ field }}</div>
                                                 <br>
       
                                          </div>
                           
                                   {% endfor %}
                                   

                                   <br><br>
                                   <div class="action_buttons">
                                          <button class="orange_button" type="submit">Create Poll</button>
                                   </div>
                            </form>
                     </div>
              </div>
       </div>
</div>
{% endblock %}

