<!DOCTYPE html>
<!--FEEL FREE TO REPLACE THIS. THIS IS JUST FOR TESTING PURPOSES-->
<html>
    <head>
        <title>Pollarize</title>
    </head>
    <body>
        <h1>Pollarize</h1>
        <ul>
            {% for poll in polls %}
            <li>
                <a href="{% url 'poll_app:results' poll.poll_slug %}">{{ poll.question }}</a>
            </li>    
            {% endfor %}
            <li>
                <a href="/admin/">Admin</a>
            </li>
        </ul>
    </body>
</html>