{% extends 'poll_app/base.html'%}
{% load staticfiles %}

{% block head_block %}
       <script src="{% static 'js/populate_boxes.js' %}"></script>
       <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
       <title>Pollarize - Ranking the rankings</title>
{% endblock %}

{% block body_block %}
          <div id="top_text">
            <h1>Have a say in one of our many polls, or create your own and <br />
            compete to become the <em>pollarize champion!</em></h1>
            <div class="action_buttons">
                <form action="{% url 'poll_app:random' %}">
                    <button type="submit" class="orange_button">Random poll</button>
                </form>
                <form action="{% url 'poll_app:create' %}">
                    <button type="submit" class="grey_button">Create poll</button>
                </form>
            </div>
        </div>

            <div class="orange_box">
                {% if recent %}
                <div id="vote_boxes_container">
                    <div id="left">
                        <h1>Popular</h1>
                        {% for poll in popular %}
                            {% include "poll_app/poll_box.html" with poll=poll %}
                        {% endfor %}
                    </div>

                    <div id="middle">
                        <h1>Pollarizing</h1>
                        {% for poll in pollarizing %}
                            {% include "poll_app/poll_box.html" with poll=poll %}
                        {% endfor %}
                    </div>

                    <div id="right">
                        <h1>Recent</h1>
                        {% for poll in recent %}
                            {% include "poll_app/poll_box.html" with poll=poll %}
                        {% endfor %}
                    </div>

                </div>
                {% endif %}
                <div class="about_section">
                    <h1>Want to find out more?</h1>
                    <div class="action_buttons">
                        <form action="{% url 'poll_app:about' %}">
                            <button type="submit" class="grey_button" id="about_button">About us</button>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}