{% extends 'poll_app/base.html'%}
{% load staticfiles %}

{% block head_block %}
       <script src="{% static 'js/homepage.js' %}"></script>
       <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
       <title>Pollarize - Ranking the rankings</title>
{% endblock %}

{% block body_block %}
          <div id="top_text">
            <h1>Have a say in one of our many polls, or create your own and <br />
            compete to become the <em>top pollarizer!</em></h1>
            <div class="action_buttons">
                <form action="{% url 'poll_app:random' %}">
                    <button type="submit" class="orange_button">Random poll</button>
                </form>
                <form action="{% url 'poll_app:create' %}">
                    <button type="submit" class="grey_button">Create poll</button>
                </form>
            </div>
        </div>

            <div class="orange_box">
                {% if recent %}
                <div id="vote_boxes_container">
                    <div id="left">
                        <h1>Popular</h1>
                        {% for poll in popular%}
                        <div class = "poll_box" id="poll_{{ poll.poll_slug }}">
                            <h1><a href="{% url 'poll_app:results' poll.poll_slug %}">{{ poll.question }}</a></h1>
                            <p>by <a href="{% url 'poll_app:user' poll.submitter.id %}">{{ poll.submitter }}</a></p>
                            <div class="vote_bar_container">
                                <h3 class="orange_percent">-%</h3>
                                <div class="vote_bar"></div>
                                <h3 class="grey_percent">-%</h3>
                            </div>
                                <p class="box_votes">--- votes</p>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="middle">
                        <h1>Pollarizing</h1>
                        {% for poll in pollarizing%}
                        <div class = "poll_box" id="poll_{{ poll.poll_slug }}">
                            <h1><a href="{% url 'poll_app:results' poll.poll_slug %}">{{ poll.question }}</a></h1>
                            <p>by <a href="{% url 'poll_app:user' poll.submitter.id %}">{{ poll.submitter }}</a></p>
                            <div class="vote_bar_container">
                                <h3 class="orange_percent">-%</h3>
                                <div class="vote_bar"></div>
                                <h3 class="grey_percent">-%</h3>
                            </div>
                                <p class="box_votes">--- votes</p>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="right">
                        <h1>Recent</h1>
                        {% for poll in recent%}
                        <div class = "poll_box" id="poll_{{ poll.poll_slug }}">
                            <h1><a href="{% url 'poll_app:results' poll.poll_slug %}">{{ poll.question }}</a></h1>
                            <p>by <a href="{% url 'poll_app:user' poll.submitter.id %}">{{ poll.submitter }}</a></p>
                            <div class="vote_bar_container">
                                <h3 class="orange_percent">-%</h3>
                                <div class="vote_bar"></div>
                                <h3 class="grey_percent">-%</h3>
                            </div>
                                <p class="box_votes">--- votes</p>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                {% endif %}
                <div class="about_section">
                    <h1>Want to find out more?</h1>
                    <div class="action_buttons">
                        <form action="{% url 'poll_app:about' %}">
                            <button type="submit" class="grey_button" id="about_button">About us</button>
                        </form>
                    </div>
                </div>
            </div>
{% endblock %}