{% extends 'poll_app/base.html'%}
{% load staticfiles %}

{% block head_block %}
       <link rel="stylesheet" href="{% static 'css/login.css' %}">
       <title>Pollarize - Login</title>
{% endblock %}

{% block body_block %}
       <h1 id="title">Welcome back to <em>Pollarize!</em></h1>
       <div class="divider"></div>
       <div id="login_box">
              <form id="login_form" method="post" action="{% url 'poll_app:login' %}">
                     {% csrf_token %}
                     <h3>Username:</h3> <input type="text" name="username" value="" size="50" /> <br />
                     <h3>Password:</h3> <input type="password" name="password" value="" size="50" /> <br />
                     <div class="action_buttons">
                            <button type="submit" class = "grey_button" id="login_button">Log in</button>
                     </div>

              </form>
       </div>
       <h2>Don't have an account yet?</h2>
       <div class="action_buttons">
              <form action="{% url 'poll_app:register' %}">
                     <button type="submit" class="orange_button" id="register_button">Create an account</button>
              </form>
       </div>
{% endblock %}