{% extends 'poll_app/base.html'%}
{% load staticfiles %}
<!--Fill in page title and load css/javascript-->
{% block head_block %}
       <script src="{% static 'js/populate_boxes.js' %}"></script>
        {% include "poll_app/load_balloons.html" %}
       <link rel="stylesheet" href="{% static 'css/rankings.css' %}">
       <title>Pollarize - Rankings</title>
{% endblock %}

{% block body_block %}

{% if champion%}
        <div id="top_text">
            <img src="{% static 'img/trophy.gif' %}" id="trophy" height="150px" title="Click me to toggle balloons!"></img>
            <h1>The current pollarize champion is: <br />
            <em><a href="{% url 'poll_app:user' champion.submitter.id %}">{{ champion.submitter }}</a></em></h1>

            {% include "poll_app/centre_box.html" with poll=champion %}
        </div>
{% else%}
       <h1>There is currently no champion. You could <em>become the first!</em></h1>
        <div class="action_buttons">
            <form action="{% url 'poll_app:create' %}">
                <button type="submit" class="orange_button">Create a poll!</button>
            </form>
        </div>
{% endif %}
            <div class="orange_box">
                {% if recent %}
                <div id="vote_boxes_container">
                    <div id="left">
                        <h1>Popular</h1>
                        {% for poll in popular %}
                            {% include "poll_app/poll_box.html" with poll=poll %}
                        {% endfor %}
                    </div>

                    <div id="middle">
                        <h1>Pollarizing</h1>
                        {% for poll in pollarizing %}
                            {% include "poll_app/poll_box.html" with poll=poll %}
                        {% endfor %}
                    </div>

                    <div id="right">
                        <h1>Recent</h1>
                        {% for poll in recent %}
                            {% include "poll_app/poll_box.html" with poll=poll %}
                        {% endfor %}
                    </div>

                </div>
                {% endif %}
            </div>
{% endblock %}