{% extends 'poll_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register - Step 2
{% endblock %}

{% block body_block %}
<div>
    <div>
        <h1>Create Profile Image</h1>
    </div>
</div>

<div>
    <div>
        <form method="post"
            action="{% url 'poll_app:register' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create Profile" />
    </form>
    </div>
</div>  
{% endblock %}