{% extends 'poll_app/base.html'%}
{% load staticfiles %}
<!--Fill in page title and load css/javascript-->
{% block head_block %}
       <script src="{% static 'js/populate_boxes.js' %}"></script>
        <!--Load balloons if user is pollarize champion-->
        {% if is_champion %}
            {% include "poll_app/load_balloons.html" %}
        {% endif %}
       <link rel="stylesheet" href="{% static 'css/user.css' %}">
       <title>Pollarize - {{ profile }}</title>
{% endblock %}

{% block body_block %}

        <div id="top_text">
            {% if is_champion %}
            <div id="champion_tag">
                <img src="{% static 'img/trophy_white.png' %}" width="20px" alt="Trophy"></img>
                <p>POLLARIZE CHAMPION</p>
            </div>
            {% endif %}
            <img src="{{ profile.profile_image.url }}" id="profile_img" height="150px"></img>
            <h2><em>{{ no_polls }} - {{ no_votes }}</em></h2>
            <h1 id="username">{{ profile }}</h1>
        </div>

        <div class="divider"></div>
        <h1 id="polls_title"><em>Polls:</em></h1>

        <!--List of user polls-->
        <div id="vote_boxes_container">
        {% for poll in user_polls %}
            {% include "poll_app/centre_box.html" with poll=poll %}
        {% endfor %}
        </div>

{% endblock %}