{% extends 'poll_app/base.html' %}
{% load staticfiles %}

{% block head_block %}
<title>Pollarize - Vote</title>
<link rel="stylesheet" href="{% static 'css/vote.css' %}" />
<script type="text/javascript" src="{% static 'js/vote.js' %}"></script>
{% endblock %} 

{% block body_block %}
<div class="vote-div">
    <h1>{{ poll.question }}</h1>
    <div class="voting-form">
        {% csrf_token %}
        <button class="orange_button answer-button" id="answer1">{{ poll.answer1 }}</button>
        <button class="grey_button answer-button" id="answer2">{{ poll.answer2 }}</button>
    </div>
</div>
{% endblock %}